<!doctype html>
<html>
	<head>
		{% block head %}
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
<section id="page">
	<header>Header</header>
	<nav>
		<ul>
			<li><a href="/">Return Home</a></li>
			<li><a href="/segmentation">Select a New Song</a></li>
		</ul>
	</nav>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
<section>
</html>