{% extends 'base.html' %}

{% block content %}
   {% if datasets  %}
   <form method="post" action='/stats_display'>
   <input type="submit" value="Select">
   <table>
        <tr>
		<td>Select</td>
		<td>Category</td>
		<td>Name</td>
	</tr>
   	{% for item in datasets['freads'] %}
	<tr>
		<td>
			<label for="radio-{{ item }}"></label>
			<input type="radio" id="radio-{{ item }}" name="radio-data" value="{{ item }}">
		</td>
		<td>File Read Times</td>
		<td>{{ item  }}</td>
	</tr>
  	{% endfor %}
	{% for item in datasets['timbres'] %}
	<tr>
		<td>
			<label for = "radio-{{ item }}"></label>
			<input type="radio" id="radio-{{ item }}" name="radio-data" value="{{ item }}">
		</td>
		<td>Timbre Stats</td>
		<td>{{ item }}</td>
	</tr>
	{% endfor %}
   </table>
   <select id="datadisplay" name="datadisplay">
  		<option value="histograms">Histogram All Data</option>
  		<option value="correlation">Correlation Heatmap</option>
  		<option value="next">Not Yet</option>
	</select>
   <input type="submit" value="Select">
   </form>
   {% endif %}
   {#<div><p>{{ graphJSON }}</p></div>#}
   {% if graphJSON %}
   	<div id="chart" class="chart"></div>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script type='text/javascript'>
  		var graphs = {{graphJSON | safe}};
  		Plotly.plot('chart',graphs,{});
	</script>
   {% endif %}
{% endblock %}
			
